<form id="register-step-5" class="col-xs-12">
    <ng-include src="'/static/pages/utils/responsive-circle-line-circle.html'"></ng-include>
    <h3>Оповещения</h3>

    <div class="col-xs-12">
        <input type="checkbox" id="email-notification" name="email-notification" placeholder="placeholder" ng-model="email_notification"/>
        <label for="email-notification">Высылать приглашения на события по email?</label>
    </div>

    <div class="col-xs-12">
        <input type="checkbox" id="mobile-notification" name="mobile-notification" placeholder="placeholder" ng-model="sms_notification"/>
        <label for="mobile-notification">Высылать приглашения на события по СМС?</label>
    </div>

    <input type="text"
    class="form-control"
    id="register__phone"
    ng-model="phone"
    ui-mask="375 (99) 999-99-99"/>

    <input type="submit" class="col-xs-12" value="Завершить" ng-click="register()">

</form>