<form name='registerFormStep1' id="register-step-1"
      class="col-xs-12" novalidate
      ng-submit="registerFormStep1.$valid && registerStep1()">
    <h3>Регистрация</h3>

    <input type="email" name="email"
           class="col-xs-12" placeholder="Email"
           ng-model="user.email" required
           ng-focus="email.focus = true" ng-blur="email.focus = false"
           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
    <span ng-show="registerFormStep1.email.$invalid && !registerFormStep1.email.$pristine && !email.focus">Please enter a valid email address!</span>
    <span class="errors" ng-model="errors.email">[[errors.email]]</span>

    <input type="password" class="col-xs-12"
           name="password" ng-model="user.password"
           placeholder="Пароль" required minlength="5"
           ng-focus="password.focus = true" ng-blur="password.focus = false">
    <span ng-show="registerFormStep1.password.$invalid && !registerFormStep1.password.$pristine && !password.focus">Please enter a valid password</span>
    <span class="errors" ng-model="errors.password">[[errors.password]]</span>

    <input type="submit" name="submit" class="col-xs-12"  value="Зарегистрироваться">
    <div class="errors" ng-model="errors.non_field_errors">[[errors.non_field_errors]]</div>

    <p>Уже есть аккаунт? <a href="/login/">Войти</a></p>
    <div class="vk_oauth right">
        <a href="https://oauth.vk.com/authorize?client_id=5269479&redirect_uri=http://localhost:9000/callbackvk&display=popup&scope=email">
            <img src="/static/img/vk_oauth.png" />
        </a>
    </div>

    <a
       href="https://github.com/login/oauth/authorize?client_id=436adf1db1ea1a3b2936"
       title="Зайти через ВКонтакте">Зайти через Github</a>


</form>