{% load staticfiles %}

<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/pages/create-event.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/header.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/footer.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/mobile-menu.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/common/bootstrap-grid.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/events.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/event.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/common/common.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/common/custom-select.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/pages/register.less' %}"/>

<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/users.less' %}"/>

<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/profile.less' %}"/>
{#        custom dropdown very beautiful - instead of select#}
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/dropdown.less' %}"/>

<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/landing/less/comming-events.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/landing/less/popular-events.less' %}"/>
<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/landing/less/header-bottom.less' %}"/>

<link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/common/star-rating.less' %}"/>