{% load staticfiles %}

<link rel="stylesheet" href="{% static "css/libs/autocomplete.css" %}">
<link rel="stylesheet" href="{% static "css/libs/angular.rangeSlider.css" %}">
<link rel="stylesheet" href="{% static "css/libs/DateTimePicker.css" %}">
<link rel="stylesheet" href="{% static "js/libs/theme/default/style.css" %}">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css">
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">#}
<link rel="stylesheet" href="{% static "css/less/custom-autocomplete.less" %}">