/*Common styles for all devices and width of screen*/

body {
    margin: 0;
    padding: 0;
}

/*GRID SYSTEM FROM BOOTSTRAP*/
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.row {
    width: 100%;
}

.border {
    border: 1px solid black;
}

.no-margin-padding {
    margin: 0;
    padding: 0;
}

.relative {
    position: relative;
}

.relative-100 {
    height: 100%;
    position: relative;
}

.height-100 {
    height: 100%;
}

.no-padding {
    padding: 0;
}

.absolute {
    position: absolute;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

/*absolute centering image; parent should be height:100% and position: relative;*/
.center-image {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.center-flex {
    /*need to understand what it is*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    overflow: hidden;
}

.block {
    display: block;
}

.auto {
    margin: 0 auto;
}