/*START POPULAR EVENTS */
#landing #popular-events {
  width: 100%;
  overflow: hidden;
}
#landing #popular-events .black-line {
  background-image: url('../../img/black_line.png');
}
#landing #popular-events div {
  font-family: Georgia;
  color: white;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
}
#landing #popular-events .popular-text {
  line-height: 60px;
  font-family: Georgia;
  font-size: 17px;
}
#landing #popular-events .event .event-bottom {
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.65);
}
#landing #popular-events .event .event-name {
  font-family: "Courier New";
  font-weight: normal;
  font-size: 20px;
}
