<div class="col-xs-12text-left">
    <header ng-hide="show" class="col-xs-12">
        <p class="col-xs-4">[[ label ]] </p>
        <p class="col-xs-6 ">[[defaultEmail]]</p>
        <a class="col-xs-2 right" ng-click="show = !show">Редактировать</a>
    </header>
    <div ng-show="show" class="edit-info col-xs-12">
        <input type="text" ng-model="field"/>
        <div class="col-xs-12 actions">
            <input type="button" class="col-xs-6" value="Сохранить" ng-click="save()"/>
            <input type="button" class="col-xs-6" value="Отменить" ng-click="cancel()" />
        </div>
    </div>
</div>