<div class="col-xs-12 left text-left">
    <header class="col-xs-12">
        <p class="col-xs-4 left">[[ label ]] </p>
        <p class="col-xs-6  left">[[field]]</p>
        <a class="col-xs-2 right" ng-click="show = !show">edit</a>
    </header>
    <div ng-show="show" class="edit-info col-xs-12">
        <input type="text" ng-model="field"/>
        <div class="col-xs-12 actions">
            <input type="button" class="col-xs-6 left" value="Сохранить" ng-click="save()"/>
            <input type="button" class="col-xs-6 left" value="Отменить" ng-click="show=false" />
        </div>
    </div>
</div>