<div class="col-xs-12 left text-left">
    <p class="col-xs-2 left">Телефон нотификация </p>

    <p class="col-xs-4  left">[[account.sms_notification]]</p>
    <p class="col-xs-4  left">[[account.phone]]</p>
    <a class="col-xs-2 right" ng-click="show = !show">edit</a>
    <div ng-show="show">
        <label for="yes">Да</label>
        <input type="radio" ng-model="account.sms_notification" id='yes' name="fir" ng-value="true">
        <label for="no">Нет</label>
        <input type="radio" ng-model="account.sms_notification" id='no' name="fir" ng-value="false">
        <input type="button" value="Сохранить" ng-click="save()"/>

        <input type="text"
        class="form-control"
        id="register__phone"
        ng-model="account.phone"
        ui-mask="375 (99) 999-99-99"/>

    </div>
</div>