{% load staticfiles %}

<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-cookies.min.js"></script>

<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.1.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script src="{% static "js/libs/ng-infinity-scroll.js" %}"></script>
<script src="{% static "js/libs/angular.rangeSlider.js" %}"></script>
<script src="{% static "js/libs/angular.mask.js" %}"></script>

<script src="{% static 'js/libs/DateTimePicker.js' %}"></script>
<script src="{% static 'js/libs/DateTimePicker-i18n-ru.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/locale/ru.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script src="{% static 'js/libs/autocomplete.js' %}"></script>
<script src="{% static 'js/libs/OpenLayers.js' %}"></script>

<script src="{% static 'js/libs/custom-autocomplete.js' %}"></script>