<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form ng-submit="createEvent()">

            <div custom-dropdown ng-model="selectedActivity" elements="activities"  title="Choose Activity"></div>
            <div custom-dropdown ng-model="selectedPlace" elements="places" title="Choose Place" ></div>

            <div custom-datepicker ng-model="start_date"></div>
            <div custom-datepicker ng-model="end_date"></div>

            <div class="form-group">
                <label for="event__min_people">min_people</label>
                <input type="text" class="form-control" id="event__min_people" ng-model="min_people"/>
            </div>
            <div class="form-group">
                <label for="event__max_people">max_people</label>
                <input type="text" class="form-control" id="event__max_people" ng-model="max_people"/>
            </div>
            <div class="form-group">
                <label for="event__is_paid">is_paid</label>
                <input type="text" class="form-control" id="event__is_paid" ng-model="is_paid"/>
            </div>
            <div class="form-group">
                <label for="event__cost">cost</label>
                <input type="text" class="form-control" id="event__cost" ng-model="cost"/>
            </div>
            <div class="form-group">
                <label for="event__description">description</label>
                <input type="text" class="form-control" id="event__description" ng-model="description"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>