<form id="create-event" ng-submit="createEvent()">
    <select ng-options="activity.id as activity.name for activity in activities" ng-model="selectedActivity"></select>
     <!--  DateTime Input  -->
    <p>DateTime : </p>
    <input type="text" data-field="datetime" readonly ng-model="start_date">
    <div id="dtBox"></div>

    <div class="errors" ng-model="errors.start_date">[[errors.start_date]]</div>

    <label for="count">Count of people</label>
    <input type="number" id="count" value="count" ng-model="min_people" placeholder="Minimum number of people to make event happen">

    <div class="errors" ng-model="errors.min_people">[[errors.min_people]]</div>


    <label for="address">Address</label>
    <input type="text" id="address" ng-model="description" placeholer="Provide address">

    <input type="submit" ng-click="createEvent()" value="Save">
</form>
