<form id="create-event" name="createEventForm" ng-submit="createEventForm.$valid && createEvent()">

    <dropdown class="col-xs-12 xs-hide" placeholder="Выбери чертов спорт.." list="activities" selected="selectedActivity" property="name"></dropdown>

    <custom-select elements="activities" ng-model="selectedActivity" placeholder="Выбери чертов спорт.."></custom-select>

    <div class="col-xs-12">
        <input type="text" data-field="datetime" readonly ng-model="start_date" placeholder="Когда играем?">
        <div id="dtBox"></div>
    </div>
    <div class="errors" ng-model="errors.start_date">[[errors.start_date]]</div>

    <input class=col-xs-12"
           type="number"
           id="count"
           value="count"
           ng-model="min_people"
           placeholder="Сколько минимум людей надо?">

    <div class="errors" ng-model="errors.min_people">[[errors.min_people]]</div>

    <input type="text" id="address" ng-model="description" placeholder="Где игра будет проходить!">
    <label>Ищите на карте! Затем кликните чтобы поставить маркер! После перетяните маркер на местро где вы хотите играть </label>
    <div id="map" style="width:100%; height: 300px;"></div>

    <input type="submit" value="Создать" class="col-xs-12">
</form>
