<section id="event">
    <header>События</header>

    <div class="container">
        <div class="info col-xs-12 col-md-8 col-lg-8 left">
            <event-dateupdate event="event"></event-dateupdate>
            <event-placeupdate></event-placeupdate>
            <event-priceupdate></event-priceupdate>
            <div class="block col-xs-12 col-md-12 col-lg-12">
                <span class="label col-xs-4 left">Свободных мест</span>
                <span class="value col-xs-6 left">5</span>
                <span class="change col-xs-2">Редактировать</span>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="block">
                    <span class="label col-xs-4 left">Участников</span>
                    <span class="value col-xs-6 left">5</span>
                </div>
                <div ng-repeat="user in event.event_users">
                    <user-block user="user"></user-block>
                </div>
            </div>
        </div>
        <div class="actions col-xs-12 col-md-4 col-lg-4 left">
            <a class="col-xs-12 col-md-8 col-lg-8 left go"
               ng-click="goToEvent(event.id, $index)"
               ng-hide="event.user_done">
                Иду
            </a>
            <a class="col-xs-12 col-md-8 col-lg-8 left invite"
               ng-click="inviteToEvent(event.id)">
                Пригласить
            </a>
        </div>
    </div>

</section>

