<article id="events">

<div id="filters" class="pull-left" ng-controller="EventFilterController">
    <select ng-options="city.id as city.name for city in cities" ng-model="selectedCity" />
    <select ng-options="activity.name as activity.name for activity in activities" ng-model="selectedActivity" />
    <div>
        <input type="radio" ng-model="is_paid" value="all"/>All
        <input type="radio" ng-model="is_paid" value="True"/>Is paid
        <input type="radio" ng-model="is_paid" value="False"/>Not paid
    </div>
    <button ng-model="event_date" date-filter data-date="later"> Later </button>
    <button ng-model="event_date" date-filter data-date="today"> Today </button>
    <button ng-model="event_date" date-filter data-date="tomorrow"> Tomorrow </button>
    <button ng-model="event_date" date-filter data-date="after_tomorrow"> After Tomorrow </button>
    <div range-slider min="minPrice" max="maxPrice" model-min="userMinPrice" model-max="userMaxPrice" step="5"></div>
</div>


<section>
    <div class="col-xs-6 col-md-4 col-lg-4 left" ng-repeat="event in events">
        <figure class="relative">
            <img class="event-image" src="/static/img/event.png"/>
            <h3 class="event-bottom">[[event.activity.name]]</h3>
        </figure>

            <div class="description-left col-xs-12 col-md-6 col-lg-6 left">
                <h3 class="bold">[[event.start_date | date:'yyyy.dd.MM HH:mm']]</h3>
                <h3>250 000</h3>
            </div>
            <div class="description-right col-xs-12 col-md-6 col-lg-6 left">
                <h3>7 участников</h3>
                <h3>еще 5 мест</h3>
                <h3>[[event.place.name]]</h3>
            </div>

        <div class="actions">
            <a class="col-xs-12 col-md-6 left lg-hide">Иду</a>
            <a class="col-xs-12 col-md-6 left lg-hide">Пригласить</a>
            <figure class="col-lg-6 left xs-hide md-hide">
                <img class="left-image" src="/static/img/menu.png"/>
            </figure>
            <figure class="col-lg-6 left xs-hide md-hide">
                <img class="right-image" src="/static/img/login.png"/>
            </figure>
        </div>
    </div>
</section>

{#<div class="col-md-3 col-sm-6 hero-feature" >#}
{#    <div class="thumbnail">#}
{#        <div class="caption">#}
{#            <h3></h3>#}
{#            <div class='row'>#}
{#                <p>[[event.place.name]]</p>#}
{#                <p>[[event.city.name | cityPrefix]]</p>#}
{#                <p>[[event.start_date | date:'yyyy.dd.MM HH:mm']]</p>#}
{#                <p>[[event.min_people]]</p>#}
{#                <p>[[event.max_people]]</p>#}
{#                <p>[[event.is_paid | isPaidString]]</p>#}
{#             </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

</article>