<article id="events">

    <div id="filters" class="col-xs-12 col-md-4 col-lg-3 left" ng-controller="EventFilterController">
        <div class="activities">
            <div class="relative" collapse-block model="openactivity">
                <h3>Activities</h3>
                <img src="/static/img/expand-arrow.png" class="right-image">
            </div>
            <div ng-show="openactivity" class="collapsed-activities">
                <input type="search" ng-model="searchActivity.name" class="col-xs-12"/>
                <div ng-repeat="activity in activities | filter: searchActivity" class="col-xs-12">
                    <input type="checkbox" ng-model="activity.selected" ng-change="changedActivities()">
                    <label>[[activity.name]]</label>
                </div>
            </div>
        </div>
        <div range-slider
             min="minTime" max="maxTime"
             model-min="userMinTime"
             model-max="userMaxTime"
             step="30" filter="timeRangeFilter"
             prevent-equal-min-max="true">
        </div>
    </div>

    <section class="col-xs-12 col-md-8 col-lg-9 left">

        <div ng-controller="DateFilterController">
            <span week-date dates="dates" ng-model="currentDate" ng-change="changeDate()" currentweek="currentweek"></span>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-4 left" ng-class="{'active': event.user_done}" ng-repeat="event in events">
            <figure class="relative">
                <img class="event-image" src="/static/img/[[event.activity.name]].png"/>
                <h3 class="event-bottom">[[event.activity.name]]</h3>
            </figure>

            <div class="description-left col-xs-12 col-md-6 col-lg-6 left">
                <h3 class="bold">[[event.start_date | date:'yyyy.dd.MM HH:mm']]</h3>
                <h3>[[event.cost]]</h3>
            </div>
            <div class="description-right col-xs-12 col-md-6 col-lg-6 left">
                <h3>[[event.count_of_members]] участников</h3>
                <h3>еще [[event.min_people - event.count_of_members]] мест</h3>
                <h3>[[event.place.name]]</h3>
            </div>

            <div class="actions">
                <a class="col-xs-12 col-md-6 left lg-hide go"
                   ng-click="goToEvent(event.id, $index)"
                   ng-hide="event.user_done">
                    Иду
                </a>
                <a class="col-xs-12 col-md-6 left lg-hide ungo"
                   ng-click="goFromEvent(event.id, $index)"
                   ng-show="event.user_done">
                    Не пойду
                </a>
                <a class="col-xs-12 col-md-6 left lg-hide invite"
                   ng-click="inviteToEvent(event.id)">
                    Пригласить
                </a>
                <figure class="col-lg-6 left xs-hide md-hide">
                    <img class="left-image" src="/static/img/menu.png"
                         ng-click="inviteToEvent(event.id)"/>
                </figure>
                <figure class="col-lg-6 left xs-hide md-hide">
                    <img class="right-image" src="/static/img/login.png"
                         ng-click="goToEvent(event.id, $index)"
                         ng-hide="event.user_done"/>
                    <img class="right-image" src="/static/img/minus.png"
                         ng-click="goFromEvent(event.id, $index)"
                         ng-show="event.user_done"/>
                </figure>
            </div>
        </div>
    </section>

</article>