<article id="users">

    <section id="user-filters">
        <div class="sex-filter">
            <lable for="">Male</lable>
            <input type="checkbox" name="male" ng-model="male" ng-true-value="'MALE'"/>
            <lable for="">Female</lable>
            <input type="checkbox" name="female" ng-model="female" ng-true-value="'FEMALE'"/>
        </div>
        <div class="activities">
            <h3>Activities</h3>
            <input type="search" ng-model="searchActivity.name" />
            <div ng-repeat="activity in activities | filter: searchActivity">
                <input type="checkbox" ng-model="activity.selected">
                <label >[[activity.name]]</label>
            </div>
        </div>
    </section>

    <section>
        <div ng-repeat="user in users" class="col-xs-4 left" style="border: 1px solid gray; margin: 20px; height: 150px; width: 25%;">
            <p style="margin:0; padding:0">[[user.email]]</p>
            <p style="margin:0; padding:0">[[user.sex]]</p>
            <p style="margin:0; padding:0">[[user.phone]]</p>
            <p style="margin:0; padding:0">sms - [[user.sms_notification]]</p>
            <p style="margin:0; padding:0">[[user.date_of_birth]]</p>
            <p style="margin:0; padding:0" ng-repeat="activity_user in user.activity_users">Activity: [[activity_user.activity.name]]</p>
            <p style="margin:0; padding:0">schedule_to_play - [[user.schedule_to_play]]</p>
        </div>
    </section>
</article>