{% load staticfiles %}
<div class="header-bottom row relative">
    <div>
        <img class="row" src="{% static 'img/header.jpg' %}" />

    </div>
    <div class="choose-sport-text">
        <span>Выбирайте спорт, которым бы вы хотели заняться</span>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-4 how-it-works center-flex">
        <span>Как это работает</span>
    </div>

    <div class="search-activity">
        <div class="col-xs-10 relative-100 hidden left">
            <input type="text" placeholder="Активность..." class="activity height-100 no-padding"/>
        </div>
        <div class="col-xs-2 relative-100 right">
            <img class="search-icon center-image" src="{% static 'img/search.png' %}"  />
        </div>
    </div>
</div>