<nav id="mobile-menu" class="lg-hide">
    <ul>
        <li class="col-lg-3"><a href="#">События</a></li>
        <li class="col-lg-3"><a href="#">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
        <li class="col-lg-3"><a href="#">События</a></li>
        <li class="col-lg-3"><a href="#">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
        <li class="col-lg-3"><a href="#">События</a></li>
        <li class="col-lg-3"><a href="#">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
        <li class="col-lg-3"><a href="#">События</a></li>
        <li class="col-lg-3"><a href="#">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
    </ul>
</nav>