<footer>
    <section class="social col-xs-12 col-md-4 col-lg-4 left">
        <header>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</header>
        <figure class="col-xs-4 left">
            <img src="/static/img/facebook.png"/>
        </figure>
        <figure class="col-xs-4 left">
            <img src="/static/img/google.png"/>
        </figure>
        <figure class="col-xs-4 left">
            <img src="/static/img/facebook.png"/>
        </figure>
    </section>

    <section class="map col-xs-6 col-md-4 col-lg-4 left">
        <header>КАРТА САЙТА</header>
        <nav>
            <ul>
                <li><a>События</a></li>
                <li><a>Команды</a></li>
                <li><a>Участники</a></li>
                <li><a>Места</a></li>
            </ul>
        </nav>
    </section>

    <section class="info col-xs-6 col-md-4 col-lg-4 left">
        <header class="map-text">КОНТАКТЫ</header>
        <address>Минск, Беларусь</address>
        <address>ул.Филимонова 39-198</address>
        <h3>+375(44) 533-32-92</h3>

        <h3>support@sportclub.by</h3>
    </section>

    <section class="sportclub"><span> © 2015 SportClub</span></section>

</footer>