<nav id="mobile-menu">
    <ul>
        <li class="col-lg-3"><a href="/events/">События</a></li>
        <li class="col-lg-3"><a href="/teams/">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
        <li class="col-lg-3"><a href="#">События</a></li>
        <li class="col-lg-3"><a href="#">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
        <li class="col-lg-3"><a href="#">События</a></li>
        <li class="col-lg-3"><a href="#">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
        <li class="col-lg-3"><a href="#">События</a></li>
        <li class="col-lg-3"><a href="#">Команды</a></li>
        <li class="col-lg-3"><a href="#">Участники</a></li>
        <li class="col-lg-3"><a href="#">Места</a></li>
    </ul>
</nav>