{% load staticfiles %}

<footer id="footer">
    <section class="social col-xs-12 col-md-4 col-lg-4 left hidden text-center">
        <span class="we-social">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</span>
        <div class="col-xs-12">
            <div class="col-xs-4 left">
                <img src="{% static 'img/facebook.png' %}"/>
            </div>
            <div class="col-xs-4 left">
                <img src="{% static 'img/google.png' %}"/>
            </div>
            <div class="col-xs-4 left">
                <img src="{% static 'img/facebook.png' %}"/>
            </div>
        </div>
    </section>
    <section class="map col-xs-6 col-md-4 col-lg-4 hidden left">
        <div class="map-text">КАРТА САЙТА</div>
        <div>События</div>
        <div>Команды</div>
        <div>Участники</div>
        <div>Места</div>
    </section>

    <section class="contacts col-xs-6 col-md-4 col-lg-4 hidden left text-right">
        <header class="map-text">КОНТАКТЫ</header>
        <address>Минск, Беларусь</address>
        <address>ул.Филимонова 39-198</address>
        <div>+375(44) 533-32-92</div>
        <div>support@sportclub.by</div>
    </section>

    <div class="row text-center"><span> © 2015 SportClub</span></div>

</footer>{# end of footer #}