{% load staticfiles %}
<div id="header">
    <div class="mobile-menu xs-hide md-hide col-lg-4 left hidden hide">
        <div class="col-lg-12">
            <ul>
                <li class="col-lg-3"><a href="#">События</a></li>
                <li class="col-lg-3"><a href="#">Команды</a></li>
                <li class="col-lg-3"><a href="#">Участники</a></li>
                <li class="col-lg-3"><a href="#">Места</a></li>
            </ul>
        </div>
    </div>
    <div class="header-top row hidden">
        <div class="small-menu col-xs-2 col-md-1 lg-hide left relative-100">
            <img class="center-image" src="{% static 'img/menu.png' %}"/>
        </div>
        <div class="sports-club col-xs-8 col-md-10 col-lg-2 left">
            <span >Sports Club</span>
        </div>

        <div class="menu xs-hide md-hide col-lg-4 left hidden">
            <div class="col-lg-12">
                <ul>
                    <li class="col-lg-3"><a href="#">События</a></li>
                    <li class="col-lg-3"><a href="#">Команды</a></li>
                    <li class="col-lg-3"><a href="#">Участники</a></li>
                    <li class="col-lg-3"><a href="#">Места</a></li>
                </ul>
            </div>
        </div>

        <div class="signin xs-hide md-hide col-lg-6 right hidden">
            <div class="col-lg-6 right">
                <a class="col-lg-4 right" href="#"><span>Регистрация</span></a>
                <a class="col-lg-4 right" href="#"><span>Войти |</span></a>
                <a class="col-lg-4 right" href="#"><span>Минск</span></a>
            </div>
        </div>

        <div class="signin-small col-xs-2 col-md-1 lg-hide relative-100 right">
            <img class="center-image" src="{% static 'img/login.png' %}"/>
        </div>
    </div>

    <div class="header-bottom row relative">
        <img class="row" src="{% static 'img/header.jpg' %}" />
        <div class="choose-sport-text">
            <span>Выбирайте спорт, которым бы вы хотели заняться</span>
        </div>
        <div class="col-xs-6 col-md-6 col-lg-4 how-it-works center-flex">
            <span>Как это работает</span>
        </div>

        <div class="search-activity">
            <div class="col-xs-10 relative-100 hidden left">
                <input type="text" placeholder="Активность..." class="activity height-100 no-padding"/>
            </div>
            <div class="col-xs-2 relative-100 right">
                <img class="search-icon center-image" src="{% static 'img/search.png' %}"  />
            </div>
        </div>
    </div>
</div>{# end of header block #}