{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="landingApp">
<head lang="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Landing</title>

    {% block fonts %}
        <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block less %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/common/common.less' %}"/>
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'css/less/common/bootstrap-grid.less' %}"/>
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'css/landing/less/header.less' %}" />
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'css/landing/less/comming-events.less' %}" />
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'css/landing/less/popular-events.less' %}" />
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'css/landing/less/footer.less' %}" />
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'css/landing/less/mobile_menu.less' %}" />
        <script src="{% static 'js/libs/less.js' %}"></script>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="{% static 'js/landing/landing.js' %}"></script>
</head>
<body>

{#    MOBILE MENU#}
    <input type="checkbox" id="mobile-menu-input" class="lg-hide">
    <label for="mobile-menu-input" onclick class="lg-hide menu-label"></label>
    {% include "landing/header/mobile_menu.html" %}
{#END MOBILE MENU#}

    <div id="landing">{#maybe should be avoid these div#}
        {% include 'landing/header/header.html' %}
        {% include 'landing/comming-events.html' %}
        {% include 'landing/popular-events.html' %}
        {% include 'landing/footer.html' %}
    </div>
</body>
</html>