{% load staticfiles %}

<div id="popular-events">
    <div class="black-line">
        <div>БОЛЕЕ 300</div>
        <div>СОСТОЯВШИХСЯ СОБЫТИЙ ЗА ГОД!</div>
    </div>

    <div class="row text-center popular-text">ПОПУЛЯРНЫЕ ВИДЫ СПОРТА</div>

    <div class="row">
    <div class="col-xs-6 left" ng-repeat="y in [1,2,3,4]" >
        <div class="event relative">
            <img class="event-img" src="{% static 'img/event.png' %}" />
            <div class="absolute event-bottom">
                <span class="event-name">Волейбол</span>
            </div>
        </div>
    </div>
</div>


</div>{# end of popular-events block #}