<form name='forgotForm' id="forgot-form"
      class="col-xs-12" novalidate
      ng-submit="forgotForm.$valid && forgot()">
    <h3>Забыли пароль Лошарики?</h3>
    <h3>Введите Email</h3>
    <input type="email" name="email"
           class="col-xs-12" placeholder="Email"
           ng-model="user.email" required
           ng-focus="email.focus = true" ng-blur="email.focus = false"
           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
    <span ng-show="forgotForm.email.$invalid && !forgotForm.email.$pristine && !email.focus">Please enter a valid email address!</span>
    <span class="errors" ng-model="errors.email">[[errors.email]]</span>

    <input type="submit" name="submit" class="col-xs-12"  value="Отправить">

</form>