<form name='resetForm' id="reset-form"
      class="col-xs-12" novalidate
      ng-submit="resetForm.$valid && reset()">

    <input type="password" name="password"
           class="col-xs-12" placeholder="Password"
           ng-model="user.password" required
           ng-focus="password.focus = true" ng-blur="password.focus = false">

    <input type="password" name="confirm_password"
           class="col-xs-12" placeholder="Confirm Password"
           ng-model="user.confirm_password" required
           ng-focus="confirm_password.focus = true" ng-blur="confirm_password.focus = false">
    <input type="submit" name="submit" class="col-xs-12"  value="Изменить">

</form>