.box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
form#create-event {
  width: 100%;
  .box-size;
  padding: 5% 10%;
  input {
    width: 50%;
    margin: 2% auto;
  }
}